<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">

<head>
    <title>Signin One</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/tailwindcss-style.css">

    <!--
        * Author Name: Peyman Naderi 
        * Author Link: https://github.com/peymanath
    -->

</head>

<body class="bg-white h-[100vh]">

    <!-- Signin One  -->

    <!-- Component Position -->
    <main class="h-full">
        <div class="absolute bg-hero-section inset-0 -z-50" style="-webkit-mask-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 50%);"></div>
        <div class="flex flex-col justify-center items-center sm:max-w-[300px] mx-auto h-full">
            <div class="flex flex-col items-center gap-y-3">
                <div class="bg-primary p-2 rounded-md">
                    <img src="../../assets/images/Logo-Icon.svg" alt="">
                </div>
                <div class="text-secondary font-bold text-xl">
                   <p>وارد حساب کاربری خود شوید</p>
                </div>
                <div class="text-gray-500 text-sm">
                    <p>نسخه دمو خود را شروع کنید</p>
                </div>
            </div>
            <div></div>
        </div>
    </main>

</body>

</html>