<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">

<head>
    <title>header Three</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/tailwindcss-style.css">

    <!--
        * Author Name: Peyman Naderi 
        * Author Link: https://github.com/peymanath
    -->


</head>

<body class="bg-secondary">

    <!-- Header Three  -->
    <div class="bg-white py-4 text-gray-500">
        <div class="container px-2 flex flex-wrap items-center justify-between">

            <!-- Logo Position -->
            <div class="justify-start">
                <img src="../../assets/images/Logo.svg" alt="Logo FlexUI">
            </div>

            <!-- NavItem Position -->
            <ul class="hidden md:flex gap-x-4 w-[70%] pr-4 text-sm  xl:text-base justify-end">
                <li>
                    <a href="#"
                        class="hover:text-gray-900 hover:font-bold transition-all duration-500 text-gray-900 font-bold">محصولات</a>
                </li>
                <li>
                    <a href="#" class="hover:text-gray-900 hover:font-bold transition-all duration-500">قیمت گذاری</a>
                </li>
                <li>
                    <a href="#" class="hover:text-gray-900 hover:font-bold transition-all duration-500">بلاگ</a>
                </li>
                <li>
                    <a href="#" class="hover:text-gray-900 hover:font-bold transition-all duration-500">درباره ما</a>
                </li>
                <li>
                    <a href="#" class="hover:text-gray-900 hover:font-bold transition-all duration-500">تماس با ما</a>
                </li>
            </ul>

            <!-- Contact Us Position -->
            <div class="hidden md:flex flex-wrap items-center gap-x-3 justify-end">
                <a href="#" class="bg-gray-500 text-white py-2 px-4 rounded-md">تماس با ما</a>
            </div>

            <!-- Active on Mobile-->
            <div class="flex flex-wrap md:hidden gap-x-3 items-center justify-center">

                <!-- Contact Icon Position Mobile -->
                <div class="bg-gray-100 rounded-md p-2.5">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                        </svg>
                    </a>
                </div>

                <!-- Nav Icon Position Mobile -->
                <div class="bg-gray-100 rounded-md p-2">
                    <a href="#">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Three -->

</body>

</html>