<!DOCTYPE html>
<html lang="fa-IR" dir="rtl" class="overflow-hidden">

<head>
    <title>header One</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/tailwindcss-style.css">

    <!--
        * Author Name: Mahdi Nazari 
        * Author Link: https://github.com/mhdi-nzari
    -->
</head>

<body class=" bg-white overflow-x-hidden">

    <!-- Header One  -->
    <header class="bg-secondary py-4 text-gray-400">
        <div class="container px-2 flex flex-wrap items-center justify-between">

            <!-- Logo Position -->
            <div>
                <img src="../../assets/images/Logo-Dark.svg" alt="">
            </div>
            <!-- NavItem Position -->
            <ul class="hidden md:flex gap-x-4">
                <li>
                    <a href="#" class="hover:text-white hover:font-bold duration-500 text-white font-bold">محصولات</a>
                </li>
                <li>
                    <a href="#" class="hover:text-white hover:font-bold duration-500">قیمت گذاری</a>
                </li>
                <li>
                    <a href="#" class="hover:text-white hover:font-bold duration-500">بلاگ</a>
                </li>
                <li>
                    <a href="#" class="hover:text-white hover:font-bold duration-500">درباره ما</a>
                </li>
                <li>
                    <a href="#" class="hover:text-white hover:font-bold duration-500">تماس با ما</a>
                </li>
            </ul>

            <!-- Sign-up/Sign-in Position -->
            <div class="hidden md:flex flex-wrap items-center gap-x-3">
                <div class="text">
                    <a href="#" class="hover:text-white hover:font-bold duration-500">ورود</a>
                </div>
                <div class="bg-primary text-white py-1.5 px-4 rounded-md">
                    <a href="#">ثبت نام</a>
                </div>
            </div>

            <!-- Active on Mobile-->
            <div class="flex md:hidden gap-x-3">

                <!-- Sign-up/Sign-in Position Mobile -->
                <div class="bg-gray-800 text-gray-400 rounded-md p-2">
                    <a href="#">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                        </svg>
                    </a>
                </div>

                <!-- NavItem Position Mobile -->
                <div class="bg-gray-800 text-gray-400 rounded-md p-2">
                    <a href="#">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- Header One -->
    <!-- Herp Section -->
    <div class=" bg-secondary w-full h-auto py-24">

        <div class="container flex flex-col-reverse py-10 gap-10 xl:gap-20 lg:flex-row 2xl:py-[150px] 2xl:px-[120px]">

            <section class="flex flex-col justify-center lg:px-20">

                <div class="w-full mb-[20px] flex justify-center lg:justify-start">

                    <span class="text-white text-sm rounded-full font-semibold py-1 px-4 bg-green-500 w-fit">سربرگ</span>

                </div>

                <h1 class="text-white font-bold leading-[3rem] text-center text-sm lg:text-base lg:text-right mb-4 lg:mb-10 xl:text-lg 2xl:text-xl ">یک کسب و کار کوچک تنها به خوبی ابزار آن است. ما متفاوت تر از آن هستیم.</h1>

                <span class="text-gray-400 font-normal text-sm leading-8 lg:text-base lg:leading-8 text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و</span>

                <div class="flex flex-wrap w-full mt-10 gap-5 justify-center lg:justify-start">

                    <button type="button" class="bg-green-500 text-white rounded-md py-2 text-sm px-5">درخواست نسخه تست</button>

                    <button type="button" class="bg-gray-700 text-white rounded-md py-2 text-sm px-5">ثبت نام</button>

                </div>

            </section>

            <section class="flex basis-full 2xl:basis-1/2 order-1 lg:order-2">

                <div class="mx-auto relative w-full h-fit after:absolute after:w-[130px] after:h-[130px]  after:-left-10 after:-top-10 after:bg-[url('../../assets/images/Pattern-1.png')] after:bg-center after:bg-cover after:bg-no-repeat after:hidden lg:after:inline-block before:absolute before:h-[90px] before:w-[150px] before:-right-10 before:-bottom-5 before:bg-[url('../../assets/images/Pattern-2.png')] before:bg-center before:bg-cover before:bg-no-repeat before:-z-0 before:hidden lg:before:inline-block">

                    <img src="../../assets/images/Image.png" class=" max-w-full h-auto mx-auto " alt="intro-img/One">

                </div>

            </section>
        </div>

    </div>

</body>

</html>